[submodule "2A/Semester 7/traduction_des_langages/mini-compiler"]
	path = 2A/Semester 7/traduction_des_langages/mini-compiler
	url = git@github.com:QuentinMP2/mini-compiler.git
[submodule "2A/Semester 7/architecture_des_ordinateurs/UART-FPGA"]
	path = 2A/Semester 7/architecture_des_ordinateurs/UART-FPGA
	url = git@github.com:Antoine2803/UART-FPGA.git
[submodule "2A/Semester 7/intergiciels/Hagimule"]
	path = 2A/Semester 7/intergiciels/Hagimule
	url = git@github.com:QuentinMP2/Hagimule.git
[submodule "2A/Semester 7/interco"]
	path = 2A/Semester 7/interco
	url = git@git.inpt.fr:dreumonte/interco.git
[submodule "2A/Semester_08/controle_apprentissage/cea"]
	path = 2A/Semester_08/controle_apprentissage/cea
	url = git@git.inpt.fr:dreumonte/cea.git
[submodule "2A/Semester_08/appli_web/frappe"]
	path = 2A/Semester_08/appli_web/frappe
	url = git@git.inpt.fr:inp-net/frappe.git
[submodule "2A/Semester_08/ingenierie_reseaux/contre_soiree_inge_des_reseaux"]
	path = 2A/Semester_08/ingenierie_reseaux/contre_soiree_inge_des_reseaux
	url = git@github.com:Antoine2803/contre_soiree_inge_des_reseaux.git
[submodule "2A/Semester_08/systemes_exploitation/QOS"]
	path = 2A/Semester_08/systemes_exploitation/QOS
	url = git@github.com:QuentinMP2/QOS.git
